.bigTitle {
  font-size: 0.6133rem;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #242424;
}
.secondTitle {
  font-size: 0.4rem;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #242424;
}

@mixin flexOne($center) {
  display: flex;
  align-items: $center;
  justify-content: space-between;
}

p {
  margin: 0;
}

:root {
  --van-tree-select-item-active-color: #feaa03 !important;
  --van-sidebar-selected-border-color: #feaa03 !important;
}

.splitLineDiv {
  width: 100vw;
  height: 0.2933rem;
  background: #efefef;
  margin: 0.4rem 0;
  margin-bottom: 0;
}

#sortDiv,
#homePage,
#myDiv {
  height: calc(100% - 70px);
  overflow: hidden scroll;
  position: relative;
}
